.AwardsCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "awards-position awards-information";
    width: 390px;
    height: 140px;
    margin-bottom: 40px;
}

.awards-position {
    grid-area: awards-position;
    width: 70px;
    height: 70px;
    border-radius: 35px;
      -webkit-backdrop-filter: blur(25.8px);
  backdrop-filter: blur(25.8px);
  background-color: rgba(255, 255, 255, 0.47);
    display: flex;
    align-items: center;
    justify-content: center;
}
.awards-information {
    display: grid;
grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
        "awards-title"
        "awards-description";
    grid-area: awards-information;
    width: 280px;
}
.awards-title {
    grid-area: awards-title;
    height: 40px;
    color: var(--primary-blue);
    border-left: 2px solid var(--primary-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.awards-title h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    color: var(--white);
    text-transform: uppercase;
    margin-left: 20px;
}

.awards-title:hover {
    background-color: var(--primary-blue);
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
    justify-content: center;

}

.awards-description {
    grid-area: awards-description;
    height: 84px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    height: 84px;
    color: #c2d7ff;
}

@media (max-width: 460px) {
    .AwardsCard {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        gap: 0px 0px;
        grid-template-areas: "awards-position" "awards-information";
        width: auto;
        height: 250px;
        margin-bottom: 40px;
    }

    .awards-position {
        justify-self: center;
    }
}
