.DynamicAwards {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.dynamic-container {
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dynamic-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.dynamic-header h1 {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.09;
    color: black;
    text-align: left;
    width: 50%;
    position: relative;
}

.dynamic-header h1 > span {
    color: var(--primary-blue);
}

.dynamic-header h1 > img {
    width: 90%;
    position: absolute;
    left: 0;
    bottom: -10%;
}

.dynamic-header p {
    text-align: left;
    color: var(--base-3);
    font-size: 20px;
    line-height: 1.35;
    font-weight: normal;
    width: 40%;
}

.dynamic-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dynamic-body-mobile {
    display: none;
}

.award {
    width: 250px;
    height: 60px;
    background-color: var(--line);
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    /* clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%); */
    font-size: 14px;
    border-radius: 30px;
}

@media (max-width:1024px) {
    .dynamic-body img {
        width: 120px;
    }
    .dynamic-header h1 { 
        font-size: 56px;
    }
}

@media (max-width:860px) {
    .dynamic-header h1 > img {
    width: 90%;
    position: absolute;
    left: 0;
    bottom: -2%;
}
.dynamic-body {
        display: none;
        
    }
    .dynamic-body-mobile {
        width: 100%;
    /* height: 40%; */
        display: flex;
        align-items: center;
        justify-content: center ;
    }
}


@media (max-width: 460px) {
    .DynamicAwards {
        height: 420px;
    }

    .dynamic-header {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .dynamic-header h1 {
        width: 100%;
        font-size: 39px;
        text-align: center;
        margin-bottom: 40px;
    }

    .dynamic-header h1 > img {
    width: 90%;
    position: absolute;
    left: 10%;
    bottom: -10%;
}

    .dynamic-header p {
        width: 90%;
        font-size: 18px;
    }

    .dynamic-body {
        display: none;
        
    }
    .dynamic-body-mobile {
        width: 100%;
    /* height: 40%; */
        display: flex;
        align-items: center;
        justify-content: center ;
    }

    /* .award {
        width: 100px;
        justify-self: center;
        align-self: center;
    } */
}

@media (max-width:375px) {
        .dynamic-header h1 > img {
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: -5%;
}
}


@media (max-width: 320px) {
     .dynamic-header h1 {
        width: 100%;
        font-size: 36px;
        text-align: center;
    }
    .dynamic-header p {
        width: 90%;
        font-size: 16px;
    }
        .dynamic-header h1 > img {
    width: 100%;
    position: absolute;
    left: 0%;
    bottom: -10%;
}

    /* .award {
        width: 90px;
    } */
}