.Memberships {
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: black;
}

.memberships-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.memberships-header {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.memberships-header h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 1.09;
    text-align: center;
    position: relative;
}

.memberships-header h1 > span {
    color: var(--primary-blue);
}

.memberships-header p {
    font-size: 20px;
    color: var(--base-3);
    text-align: center;
}

.memberships-header h1 > img {
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.memberships-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.Memberships .rec-item-wrapper {
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .Memberships .rec-slider-container {
        margin: 0px;
    }


.memberships-previous,
.memberships-next {
    display: none;
}

@media (max-width: 860px) {
    
    .Memberships {
        height: 1000px;
    }
    .memberships-header { 
        height: 25%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
    }

    .memberships-header h1 {
        text-align: center;
    }

    .memberships-header p { 
        margin-top: 40px;
    }

    .memberships-previous,
    .memberships-next {
        display: flex;
    }

    .memberships-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .memberships-previous {
        display: none;
    }
    .memberships-next {
        display: none;
    }
}

@media (max-width: 460px) {

    .memberships-header {
        flex-direction: column;
        align-items: center;
    }

    .memberships-header h1 {
        font-size: 40px;
    }

        .memberships-header p {
        font-size: 16px;
        text-align: center;
    }

    .memberships-title {
        margin-bottom: 30px;
    }
}

@media (max-width:320px) {
        .memberships-header h1 {
        font-size: 36px;
    }

        .memberships-header p {
        font-size: 16px;
        text-align: center;
    }
}